*{
    box-sizing: border-box;
    transition: .5s ease-in-out;

}
body{
   
}
a{
    color: #fff;
    text-decoration: none;
    
}
.img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;
}