.menu{
    .cofee{
        padding-right: 50px;
    h2{
        color: #c79c60;

    }
p{
    text-align: justify;
    .s1{
        color: #0066CC;
    }
    .s2{
        color: #30A430;
    }
}
.ab{
    background-image: url('../imgs/tm-brown-button.png');
    background-repeat: no-repeat;
    display: flex;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    padding-left: 50px;
    padding-bottom: 50px;
}}
    .cup{
        border-radius: 50%;
        width: 180px;
        
        padding: 10px;
        
    }
background-color: #e4e4e4;
padding-top: 150px;



}