.menu{
    .cofee{
        padding-right: 50px;
    h2{
        color: #c79c60;

    }
p{
    text-align: justify;
    .s1{
        color: #0066CC;
    }
    .s2{
        color: #30A430;
    }
}
.ab{
    background-image: url('../imgs/tm-brown-button.png');
    background-repeat: no-repeat;
    display: flex;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    padding-left: 50px;
    padding-bottom: 50px;
    color: #c79c60;
    &:hover{
        color: #fff;
    }
}}
    .cup{
        border-radius: 50%;
        width: 180px;
        
        padding: 10px;
        
    }
background-color: #e4e4e4;
padding-top: 150px;
.popular{
    margin-top: 70px;
    .pop{
        display: flex;
        p{
            white-space: nowrap;
            margin-left: 10px;
            margin-top: 20px;
            color: #c79c60;
        }
    .line{
      
       margin-left: 70px;
       margin-bottom: 50px;
       margin-top: 40px;
        width: 100%;
    height: 1px;
 background-color:#c79c60 ;}
}
}
.cen{
    margin-top: 50px;

   
    .img1{
        margin-bottom: 60px;
        @media(max-width:1007px){
            img{
                display: block;
                max-width: 100%;
                height: auto;
            }

        }
        @media(min-width:1007px)
        {
            img{
                width: 100%;
            }
        }
       &:hover{
            box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
           
        }
        &:hover .aa{
            color: #c79c60;
        }
        &:hover h2{
            color: #c79c60;
        }
       

      
        p,h2{
            padding:20px ;
          
        }
        p{
            padding-bottom: 60px;
        }
        background-color: #fff;
        position: relative;
        .diva{
          
            background-color:#524c4c ;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            position: absolute;
            bottom: -50px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            justify-content: center;

            padding: 7px;
        a{
            p{
            //text-align: center;

          // margin-top: 70px;
            border: 2px solid rgb(174,174,174);
          //
            border-radius: 50%;
            font-weight: bold;
            
           padding: 10px;
           width: 70px;
           height: 70px;
            color: rgb(174,174,174);
         // padding: 40px;
            }
           
        }
    }
    }
}
.don{
    position: relative;
    border: 8px solid #fff;
    margin-bottom: 20px;
    .tran{
        position: absolute;
        background: rgba(0,0,0,0.6);
        bottom: 0px;
        width:100%;
        padding: 0px 61px;
    }
    .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
     }
    }
    .don1{
        position: relative;
        border: 8px solid #fff;
        
     .tran1{
        position: absolute;
        background: rgba(0,0,0,0.6);
        bottom: 0px;
        width:100%;
       
     }
    
}
.donall{
    display: flex;
    margin-top: 20px;
    .don3{
        border: 8px solid #fff;
        position: relative;
        .tran3{
           position: absolute;
           background: rgba(0,0,0,0.6);
           bottom: 0px;
           width:100%;
        }
        margin-right: 47px;
    }
    .don4{
        border: 8px solid #fff;
        position: relative;
        .tran4{ position: absolute;
           background: rgba(0,0,0,0.6);
           bottom: 0px;
           width: 100%;

        }
    }
}
.wood{
    background-image: url('../imgs/tm-brown-button.png');
    background-repeat: no-repeat;
    display: flex;
    padding: 15px;
    padding-left: 70px;
    color: #c79c60;
    margin-top: 20px;
    margin-bottom: 70px;

}
::marker{
    color: #c79c60;
}
.me{
    margin-top: 50px;
}

}
