.footer
    .container
        .row
            .col-lg-4
                h3 main menu
                ul.list-unstyled
                    li HOME
                    li ABOUT US
                    li DIRECTORY
                    li BLOG
                    li OUR SERVICES
            .col-lg-4
                h3 About Us
                p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                p Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
            .col-lg-4
                h3 get social
                p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante.
                ul.list-unstyled.fac
                    li
                        a
                            i.fab.fa-facebook.fa-lg
                    li
                        a
                            i.fab.fa-twitter.fa-lg
                    li
                        a
                            i.fab.fa-linkedin.fa-lg
                    li
                        a
                            i.fab.fa-youtube.fa-lg
                    li
                        a
                            i.fab.fa-behance.fa-lg
.copy
    .copy1
        |  Copyright © 2084 Your Cafe House