.menu
    .container
        .row
            .col-lg-9.col-md-9
                .cofee
                    h2 Cafe House
                    p This is free HTML5 website template from 
                        span.s1 templat
                        span.s2 emo
                        |. Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.
                    a.ab(href="") read more
            .col-lg-3.col-md-3
                img.img-thumbnail.cup(src="imgs/1.jpg" width="200px")
        .popular
            .pop
                img(src="imgs/logo.png") 
                p|popular items
                .line
            .container
                .row.cen
                    .col-lg-4.col-md-4.col-6
                        .img1

                            img(src="imgs/popular-1.jpg")
                            h2.text-center americano
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                    .col-lg-4.col-md-4.col-6
                        .img1
                            img(src="imgs/popular-2.jpg")
                            h2.text-center cappuccino
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                    .col-lg-4.col-md-4.col-6
                        .img1
                            img(src="imgs/popular-3.jpg")
                            h2.text-center mocha
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
        .popular
            .pop
                img(src="imgs/logo.png") 
                p|popular items
                .line
            .container
                .row 
                    .col-lg-1
                    .col-lg-6.col-md-9
                        .don
                            img.img-responsive(src="imgs/special-1.jpg")
                            .tran
                                a(href="")
                                    h2 donec pede justo
                                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    .col-md-3.col-lg-1           
                    .col-lg-4.col-md-6.col-8
                        .don1
                            img.img-responsive(src="imgs/special-2.jpg")
                            .tran1
                                a(href="")
                                    h4 estimate sit emit
                                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        .donall
                            .don3
                                img.img-responsive(src="imgs/special-3.jpg")
                                .tran3
                                    a(href="")
                                        
                                        p Vivamus elementum

                            .don4
                                img.img-responsive(src="imgs/special-4.jpg")
                                .tran4
                                    a(href="")
                                        
                                        p Quisque rutrum.
            .pop
                img(src="imgs/logo.png") 
                p|popular items
                .line
            .container
                    .row.me
                        .col-lg-4.col-md-4
                            img(src="imgs/menu-board.png")
                        .col-lg-8.col-md-8
                            p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.

                            ol
                                li Tellus eget condimentum rhoncus.
                                li Sem quam semper libero.
                                li Sit amet adipiscing sem neque sed ipsum.
                                li Nam quam nunc, blandit vel, luctus pulvinar.
                                li Maecenas nec odio et ante tincidunt tempus.
                                li Donec vitae sapien ut libero ventenatis faucibus.
                            a.wood(href="") read more
                            