.menu
    .container
        .row
            .col-lg-9.col-md-9
                .cofee
                    h2 Cafe House
                    p This is free HTML5 website template from 
                        span.s1 templat
                        span.s2 emo
                        |. Fndimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Ettiam sit amet orci eget eros faucibus tincidunt.
                    a.ab(href="") read more
            .col-lg-3.col-md-3
                img.img-thumbnail.cup(src="imgs/1.jpg" width="200px")