.nav
    .container
        .row
            .col-lg-6.logo.col-md-6
                img(src="imgs/logo.png")
                a(href="") cafe house
            .col-lg-6.list.col-md-6
                ul.list-unstyled
                    li
                        a
                            img.img-fluid(src="imgs/logo.png")
                            a(href="homepage.html") home
                    li
                        a(href="today.html") today special

                    li
                        a(href="menue.html") menu
                    li
                        a(href="contact.html") contact
                    
                i.hid.fas.fa-bars
                .box
                    ul.list-unstyled
                    li
                        a
                            img.img-fluid(src="imgs/logo.png")
                            a(href="homepage.html") home
                    li
                        a(href="today.html") today special

                    li
                        a(href="menue.html") menue
                    li
                        a(href="contact.html") contact
.header
    
        .imageall
            
                img.im1(src="imgs/light.png")
            
                img.im1(src="imgs/light.png")
                
                img.im2(src="imgs/light.png")
        .container
            .welcom.text-center 
                h1 - welcom to -
                h2 cafe house
                p "Cafe House template is a mobile-friendly responsive"
                    span Bootstrap v3.3.5
                    | "layout by"
                    span templatemo.
                    | "Lorem  ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusnec quam felis, ultricies nec, pellentesque eu, pretium quis, sem."
                a.oo(href="")
                    span.ooo details
                img.img-responsive.mktb(src="imgs/table-set.png")
                
               
                    
