.menu
    .container
    
        .popular
            .pop
                img(src="imgs/logo.png") 
                p|popular items
                .line
            .container
                .row.cen
                    .col-lg-4.col-md-4.col-6
                        .img1

                            img(src="imgs/popular-1.jpg")
                            h2.text-center americano
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                    .col-lg-4.col-md-4.col-6
                        .img1
                            img(src="imgs/popular-2.jpg")
                            h2.text-center cappuccino
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                    .col-lg-4.col-md-4.col-6
                        .img1
                            img(src="imgs/popular-3.jpg")
                            h2.text-center mocha
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                .row.cen
                    .col-lg-4.col-md-4.col-6
                        .img1

                            img(src="imgs/popular-1.jpg")
                            h2.text-center americano
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                    .col-lg-4.col-md-4.col-6
                        .img1
                            img(src="imgs/popular-2.jpg")
                            h2.text-center cappuccino
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
                    .col-lg-4.col-md-4.col-6
                        .img1
                            img(src="imgs/popular-3.jpg")
                            h2.text-center mocha
                            p Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque. sed ipsum.
                            .diva
                                a(href="")
                                    p.aa order now
    
            .pop
                img(src="imgs/logo.png") 
                p|popular items
                .line
            .container
                    .row.me
                        .col-lg-4.col-md-4
                            img(src="imgs/menu-board.png")
                        .col-lg-8.col-md-8
                            p Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.

                            ol
                                li Tellus eget condimentum rhoncus.
                                li Sem quam semper libero.
                                li Sit amet adipiscing sem neque sed ipsum.
                                li Nam quam nunc, blandit vel, luctus pulvinar.
                                li Maecenas nec odio et ante tincidunt tempus.
                                li Donec vitae sapien ut libero ventenatis faucibus.
                            a.wood(href="") read more
                            